.container {
    max-width: 600px;
    margin: 20px auto;
    background: #FFFFFF;
}

body {
    font-family: 'Rubik', sans-serif;
    margin: 30px;
}

ul {
    list-style: none;    
}
header {
    color: #D32F2F;
}

section p {
    color: #212121;
} 

fieldset {
    color: #212121;
}

.ProjectInfo {
    margin: 15px;
}

h3 {
    color: #D32F2F;
    margin-bottom: 1rem;
    font-weight: 900;
    text-transform: uppercase;
}