.container {
    max-width: 600px;
    margin: 20px auto;
    background: #f7f7f7;
}

body {
    font-family: 'Rubik', sans-serif;
    margin: 30px;
}

ul {
    list-style: none;    
}
header {
    color: #007bff;
}

section p {
    color: #6a6d6d;
} 

fieldset {
    color: #6a6d6d;
}

.ProjectInfo {
    margin: 15px;
}

h3 {
    color: #007bff;
    margin-bottom: 1rem;
}